
{% extends "base.html" %} 


{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/profile.css')}}">
    <title>Document</title>
</head>
<body>
       
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
        <p class="title">Create Post</p>
        <div class="forms">
                <div class="form">
                        <p class="jj">Title</p>
                       {% if form.title.errors %}
                           {{ form.title(class="inputs") }}
                           <div class="invalid-feedback">
                               {% for error in form.title.errors %}
                                   <span>{{ error }}</span>
                               {% endfor %}
                           </div>
                       {% else %}
                           {{ form.title(class="inputs") }}
                       {% endif %}
                </div>
                <div class="form">
                        <p class="jj">Content</p>
                        {% if form.content.errors %}
                            {{ form.content(class="inputs") }}
                            <div class="invalid-feedback">
                                {% for error in form.content.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.content(class="inputs") }}
                        {% endif %}
                    </div>
                
        </div>
        <div class="button">
                {{ form.submit(class="btn") }}  
            </div>
        </form>
</body>
</html>

{% endblock content %}

