{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/register.css')}}">

    <title>Document</title>
</head>


<div class="row title">
        <div class="col-lg-2 col-md-3"><img class="logo1" src="../static/images/logo.png" alt=""></div>
        <div class="col-lg-10 col-md-9"><p class="reg">Registration</p></div>
    </div>
    
    <div class="content">
     
        <div class="form-box">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form">
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-2 av">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                    </div>
                    
                    {% if form.username.errors %}
                  
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    <div class="col-lg-11 col-md-11 col-sm-11 col-10">
                        {{ form.username(class="user-input", placeholder='nickname') }}
                    </div>
                    {% endif %}
                    
                   
                </div>
               
            </div>
            <div class="form">
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-2 av"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                   
                      {% if form.email.errors %}
                         {{ form.email(class="user-input") }}
                         <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                        </div>
                    {% else %}
                    <div class="col-lg-11 col-md-11 col-sm-11 col-10">
                        {{ form.email(class="user-input",placeholder='email') }}
                    </div>
                    {% endif %}
                    
            </div>
                       
            </div>
            <div class="form">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-2 av"><i class="fa fa-unlock-alt" aria-hidden="true"></i></div>
                        {% if form.password.errors %}
                            {{ form.password(class="user-input") }}
                            <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                            </div>
                            {% else %}
                            <div class="col-lg-11 col-md-11 col-sm-11 col-10">
                                {{ form.password(class="user-input",placeholder='password') }}
                            </div>
                            {% endif %}
                        
                    </div>
                   
            </div>
            <div class="form">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-2 av"><i class="fa fa-lock" aria-hidden="true"></i></div>
                        {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="user-input") }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                        <div class="col-lg-11 col-md-11 col-sm-11 col-10">
                            {{ form.confirm_password(class="user-input",placeholder='confirm password') }}
                        </div>
                        {% endif %}
                        
                       
                    </div>
                   
            </div>
            
            <div class="button">
                {{ form.submit(class="btn") }}
                    
            </div>
        </form>
           
           
        </div>
    
    </div>
   <pre>
       
    
    
   </pre>
    
        

{%endblock%}
